@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
    background-color: #2D2E36;
    color : white;
}

.text_center{
    text-align: center;
}

.h1{
    text-align: center;
    font-family: arial black;
    color: red;

}

.cadre_stats_1{
    position: absolute;
    left: 355px;
    
    /* Black/3 */
    Width : 150px;
    Height : 87px;
    background: #262938;
    border-radius: 20px;
}

.text_numbers{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 57;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_titles{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 27;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadre_stats_2{
    position: absolute;
    left: 520px;
    
    /* Black/3 */
    Width : 150px;
    Height : 87px;
    background: #262938;
    border-radius: 20px;
}

.cadre_stats_3{
    position: absolute;
    left: 695px;
    
    /* Black/3 */
    Width : 150px;
    Height : 87px;
    background: #262938;
    border-radius: 20px;
}

.cadre_stats_4{
    position: absolute;
    left: 865px;
    
    /* Black/3 */
    Width : 150px;
    Height : 87px;
    background: #262938;
    border-radius: 20px;
}

.cadre_stats_5{
    position: absolute;
    left: 615px;
    
    /* Black/3 */
    Width : 150px;
    Height : 87px;
    background: #262938;
    border-radius: 20px;
}

.cadre_description {
    position: absolute;
    top : 120px;
    left : 20px;
    /* Black/3 */
    Width : 307px;
    Height : 407px;
    background: white;
    border-radius: 20px;
    color: black;
}

.description_style{
    font-weight : bold;
    text-decoration: underline;
}


.italic{
    font-style: italic;
}

.div_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pos1_videos{
    position: absolute;
    margin-left: 115px;
    width : 480px;
    top : 927px;
}

.pos2_videos{
    position: absolute;
    margin-left: 775px;
    width : 480px;
    top : 927px;
}

.blue{
    color : blue;
}

.red{
    color : red;
}

.banner_style{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 280px;
}

.back_button{
    position: absolute;
    left: 3px;
    top: 3px;
    background: #03224c;
    color: white;
    font-family: arial black;
    border-radius: 40px 999em 999em 40px;
}

.favorite_button{
    position: absolute;
    right: 3px;
    top: 3px;
    background: yellow;
    color: black;
    border-radius: 40px 999em 999em 40px;
}