@charset "ISO-8859-1";

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  margin-top: 10px;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.imglaer {
    padding: 10px;
    max-width: 600px;
    max-height: 500px;
    margin-right: 0px;
    border: 1px solid #000;
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
    max-width: 200px;
    height: auto;
}

.table
{
    border-collapse: collapse;
    margin-left:auto;
     margin-right:auto;
}

td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
    background-color: white;
    position : center;
}

.entete{
  width: 50px;
  height: 50px;
}

td {
  height: 50px;
  width: 50px;
}